* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;

  --primary-color: rgb(231, 86, 86);
  --secondary-color: rgb(228, 133, 146);
}

html {
  height: 100vh;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: black;
}

main {
  display: grid;
  grid-template-columns: repeat(6, 120px);
  grid-template-rows: repeat(6, 120px);
  grid-template-areas:
    ".     .     art1     art2     .     ."
    ".     art4  art4     art5     art6  ."
    "art7  art16 art-main art-main art6  art10"
    "art11 art8  art-main art-main art13 art14"
    ".     art8  art15    art17    art17 ."
    ".     .     art19    art20    .     ."
  ;
  justify-items: center;
  gap: 10px;
  align-items: start;
  text-align: center;
  transition: 1s;
}

article {
  background-color: red;
  padding: 1rem;
  /* border: 5px double white; */
  height: 100%;
  width: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  flex-direction: column;
}

.spin {
  rotate: 360deg;
}

main>* {
  transition: 1s;
}

img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 15px;
}

button {
  position: absolute;
  height: 120px;
  width: 120px;
  border-radius: 100%;
  bottom: 20px;
  right: 20px;
  background-color: lightcoral;
}

ul {
  list-style: none;
  text-align: left;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.circle {
  border-radius: 100%;
  font-size: 48px;
}

.circle:hover {
  rotate: -360deg;
}

.square {
  border-radius: 0%;
}

.hobby {
  background-color: rgb(255, 158, 158);
}

.skill {
  background-color: rgb(250, 227, 123);
}

.social {
  background-color: paleturquoise;
}

.logo {
  height: 48px;
  width: 48px;
}

.icon {
  font-size: 48px;
}

.art-main {
  grid-area: art-main;
  height: 250px;
  width: 250px;
}

.art1 {
  grid-area: art1;
}

.art2 {
  grid-area: art2;
}

.art3 {
  grid-area: art3;
}

.art4 {
  grid-area: art4;
}

.art5 {
  grid-area: art5;
}

.art6 {
  grid-area: art6;
}

.art7 {
  grid-area: art7;
}

.art8 {
  grid-area: art8;
}

.art9 {
  grid-area: art9;
}

.art10 {
  grid-area: art10;
}

.art11 {
  grid-area: art11;
}

.art12 {
  grid-area: art12;
}

.art13 {
  grid-area: art13;
}

.art14 {
  grid-area: art14;
}

.art15 {
  grid-area: art15;
}

.art16 {
  grid-area: art16;
}

.art17 {
  grid-area: art17;
}

.art18 {
  grid-area: art18;
}

.art19 {
  grid-area: art19;
}

.art20 {
  grid-area: art20;
}